alias tmux='tmux -2 -f ~/.tmux.conf'

alias lock='dm-tool lock'

alias wicdc='wicd-curses'

# tig aliases
alias ts='tig status'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias localip="ifconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

alias vtop="vtop --theme becca"

SSHConfigRepo='~/.ssh/SSHConfiguration/'
alias updateSsh="cd $SSHConfigRepo && git pull && cat ~/.ssh/personal $SSHConfigRepo/ssh_config.d/* > ~/.ssh/config && cd ~"
